<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>添加账号</title>
	<link rel="stylesheet" href="/component/pear/css/pear.css" />
	<style>
		.inputTxt {
			margin-left: 10px;
		}
	</style>
</head>

<body>
	<form id="add-account" class="layui-form layui-form-pane" action="" lay-filter="add-account">
		<div class="mainBox">
			<div class="main-container">
				<div class="layui-form-item">
					<label class="layui-form-label">收款平台</label>
					<div class="layui-input-block">
						<select name="platform" lay-filter="select-platform">
							<option value="">收款平台</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">收款账号</label>
					<div class="layui-input-block">
						<input type="text" name="account" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">登陆密码</label>
					<div class="layui-input-block">
						<input type="text" name="password" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">监听模式</label>
					<div class="layui-input-block">
						<select name="pattern">
							<option value="">请选择</option>
							<?php include_once '../view/tpl/pattern.html'; ?>
						</select>
					</div>
				</div>
			</div>
			<div class="main-container">
                <div class="layui-text">
                    <p>部分平台的账户密码填写比较特殊，<strong><a href="https://f0bmwzqjtq2.feishu.cn/docx/HBVrdrsACo36bzxUCSPcjOBNnyb?from=from_copylink" target="_blank"><strong>请查看文档</strong></a></p>
                </div>
            </div>
		</div>
		<div class="bottom">
			<div class="button-container">
				<button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
					lay-filter="add-account">
					<i class="layui-icon layui-icon-ok"></i>
					提交
				</button>
				<button type="reset" class="pear-btn pear-btn-sm">
					<i class="layui-icon layui-icon-refresh"></i>
					重置
				</button>
			</div>
		</div>
	</form>
	<script src="/component/layui/layui.js"></script>
	<script src="/component/pear/pear.js"></script>
	<script>
		layui.use(['form'], function () {
			let form = layui.form;

			// 渲染插件选项
			(async () => {
				const data = await fetch('/api/Plugin/pluginOption').then(res => res.json());
				let option_str = `<option value="">收款平台</option>`;
				data.forEach(val => {
					option_str += `<option value="${val.platform}">${val.name}</option>`;
				});
				const select = document.querySelector('select[name="platform"]');
				select.innerHTML = option_str;
				form.render('select');
			})()
			// select 事件
			form.on('select(select-platform)', function (data) {
				const value = data.value; // 获得被选中的值
				const field1 = document.querySelector('input[name="password"]').parentNode.parentNode;
				const field2 = document.querySelector('select[name="pattern"]').parentNode.parentNode;
				if (value === 'wxpay' || value === 'alipay') {
					field1.style.display = 'none';
					field2.style.display = 'none';
				} else {
					field1.style.display = 'block';
					field2.style.display = 'block';
				}
			});
			form.on('submit(add-account)', function (obj) {
				let field = obj.field;
				field.pattern = field.pattern === '' ? 1 : field.pattern;
				(async () => {
					const url = '/api/PayManage/addAccount';
					const info = field;
					const res = await fetch(url, { method: 'post', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify(info) });
					if (res.status !== 200) {
						layer.msg('请求失败，请重试！', { tips: 2, time: 1200 });
						return false;
					}
					const rec_info = await res.json();
					if (rec_info.code === 0) {
						layer.msg(rec_info.msg, { icon: 1, time: 1200 }, () => {
							parent.layer.close(parent.layer.getFrameIndex(window.name)); //关闭当前页
							parent.layui.table.reload("account-table");
						});
					} else {
						layer.msg(rec_info.msg, { icon: 2, time: 1200 });
					}
				})()
				return false;
			});
		})
	</script>
</body>

</html>