<?php echo "<?php\n"; ?>
// +----------------------------------------------------------------------
// | 支付监听配置，一个文件，一个账号
// +----------------------------------------------------------------------
return [
    // 用户账号配置
    'user' => [
        'pid'       =>  <?php echo $pid; ?>,
        'key'       =>  '<?php echo $key; ?>'
    ],
    // 收款平台账号配置
    'pay' => [
        // 账号id
        'aid'       =>  <?php echo $aid; ?>,
        // 收款平台
        'platform'  =>  '<?php echo $platform; ?>',
        // 收款平台
        'payclass'  =>  '<?php echo $payclass; ?>',
        // 账号
        'account'   =>  '<?php echo $account; ?>',
        // 密码
        'password'  =>  '<?php echo $password; ?>',
        // 订单查询参数配置
        'query'     =>  <?php echo $query; ?>,
    ]
];
