.vscode
*.env

extend/*
!extend/ImgCaptcha.php
!extend/payclient.zip
!extend/Plugin.php

vendor/*
!vendor/vendor.zip

runtime/*

app/*
!app/controller/TestController.php

# 忽略 config/extend 目录下所有文件
config/extend/*